<div class="grid-item col-12 p-4 {% for tag in element.get_filtertags %}{{ tag }} {% endfor %}"
            {% for k,v in element.get_sortdict.items %} {{k}}="{{v}}" {% endfor %}>
        <div class="card">
            <div class ="card-header">
                Info: <b>{{ element.name }}</b> ({{element.language}}) - {{ element.year }} / {{element.year|add:"1" }} - {{ element.semester }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">{% for teacher in element.teachers.all %}{% if forloop.counter > 1 %}, {% endif %}
                        <a href="{% url 'riki:profile' teacher.id %}">{{teacher.last_name}}</a>{% endfor %}
                    </div>
                    <div class="col-2">{{ element.minapplicants }} - {{ element.maxapplicants }}</div>
                    <div class="col-2"><a href="{{ element.syllabus }}">syllabus</a></div>
                    <div class="col-2">{{ element.comment }}</div>
                    <div class="col-2">
                        {% if element.semesterconfig_set.exists or element.is_open %}
                        <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                            <button name="apply_button" value="{{element.id}}" type="submit" class="btn btn-block btn-{% if element.am_attending %}danger{% else %}success{% endif %}">
                            {% if element.am_attending %}Drop{% else %}Apply{% endif %}
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% for member in element.current_members %}{% if forloop.counter > 1 %}, {% endif %} <a href="{% url 'riki:profile' user.id %}" title="{{member.plus_info}}">{{member.user.first_name}} {{member.user.last_name}}</a>{% endfor %}
            </div>
        </div>
</div>