<div class="grid-item col-12 p-4 {% for tag in project.get_filtertags %}{{ tag }} {% endfor %}"
            {% for k,v in project.get_sortdict.items %} {{k}}="{{v}}" {% endfor %}>
        <div class="card">
            <div class ="card-header">
                <b><a href="{% url 'riki:project' project.id %}">{{ project.title }}</a></b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">{% for coller in project.collaborators.all %}{% if forloop.counter > 1 %}, {% endif %}
                        <a href="{% url 'riki:profile' coller.id %}">{{coller.first_name}} {{coller.last_name}}</a>{% endfor %}
                    </div>
                    <div class="col-3">{% for course in project.courses.all %}{% if forloop.counter > 1 %}, {% endif %}
                        <a href="{% url 'riki:course' course.id %}">{{course.name}}</a>{% endfor %}
                    </div>
                    <div class="col-5">{{ project.abstract|truncatechars:200 }}</div>
                    <div class="col-1">{% if request.user in project.collaborators.all %}<a href="{% url 'riki:project' project.id %}?edit">EDIT</a>{% endif %}</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <ul>
                        {% for version in project.version_set.all %}
                            <li><a href="{% url 'riki:version' version.id %}">{{version.title}}</a> {% if version.comment %}({{version.comment}}){% endif %} - {{ version.update_time }}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-4">{% for kw in project.attribute.all %}{% if forloop.counter > 1 %}, {% endif %}
                        <a href="{% url 'riki:att_page' kw.id %}">{{kw.name}}</a>{% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>